<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435902603922-3jng1nm941p88j1021s5am4ttg5r0bgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435902603922-3jng1nm941p88j1021s5am4ttg5r0bgg</string>
	<key>API_KEY</key>
	<string>AIzaSyCBMp0t8g8cBrcWLuNxgqvW-u3VCDzVhU8</string>
	<key>GCM_SENDER_ID</key>
	<string>435902603922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fromscratchapp</string>
	<key>PROJECT_ID</key>
	<string>from-scratch-app</string>
	<key>STORAGE_BUCKET</key>
	<string>from-scratch-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435902603922:ios:e56d9f2c5bf5d0e88b7c4b</string>
</dict>
</plist>